<% if (typeof title === 'undefined') title = "TITLE NOT SPECIFIED" %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("/partials/head") %> <%- include("/scripts/dark-mode") %>
  </head>

  <body class="bg-zinc-50 text-zinc-900 dark:bg-zinc-800 dark:text-zinc-50">
    <%- include("/partials/theme-toggle") %> <%- content %> <%-
    include("/components/footer") %>
  </body>
</html>
