---
import { type FullPost } from "@scripts/post";
import { CATEGORY_DATA } from "@scripts/data";

export interface Props {
  post: FullPost;
}

const { post } = Astro.props as Props;
const data = CATEGORY_DATA[post.category];
---

<!-- Category name -->
<div class={`text-sm ${data.text}`}>{data.single}</div>
<!-- Heading with border -->
<div
  class={`${data.border} flex flex-row flex-wrap-reverse items-center justify-between border-t-2 gap-x-4`}
>
  <!-- Date -->
  <span class="text-gray-400 dark:text-gray-500">{post.formattedDate}</span>

  <span class="italic">
    <!-- Authors -->
    {post.authorsToString()}
  </span>
</div>
