---
import Navigation from '../components/Navigation.astro';
import PostHeading from '../components/PostHeading.astro';
import { CATEGORY_DATA } from '../data';
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCategoryFromEntry } from '../collection';

export interface Props {
  entry: CollectionEntry<'post'>;
}

const { entry } = Astro.props as Props;

const post = entry.data;
const category = getCategoryFromEntry(entry);

const accent = CATEGORY_DATA[category];
---

<BaseLayout title={post.title} accent={accent}>
  <Navigation showHome />
  <main class="flex flex-col items-center">
    <div class="px-3 md:px-0 w-full max-w-[65ch]">
      <article lang={post.lang} class="py-8 md:pt-16">
        <PostHeading accent={accent} post={post} />
        <div class="pt-8 prose-custom">
          <h1 class="text-3xl">{post.title}</h1>

          <slot />
        </div>
      </article>
    </div>
  </main>
</BaseLayout>
