---
import Navigation from '../components/Navigation.astro';
import PostHeading from '../components/PostHeading.astro';
import type { Post } from '../collection';
import { CATEGORY_DATA, PostCategory } from '../scripts/data';
import BaseLayout from './BaseLayout.astro';

export interface Props {
  category: PostCategory;
  post: Post;
}

const { post, category } = Astro.props as Props;
const accent = CATEGORY_DATA[category];
---

<BaseLayout title={post.title} accent={accent}>
  <Navigation showHome />
  <main class="flex flex-col items-center">
    <div class="px-3 md:px-0 w-full max-w-[65ch]">
      <article lang={post.lang} class="py-8 md:pt-16">
        <PostHeading accent={accent} authors={post.authors} date={post.date} />
        <div class="pt-8 prose-custom">
          <h1 class="text-3xl">{post.title}</h1>

          <slot />
        </div>
      </article>
    </div>
  </main>
</BaseLayout>
